<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.account_name %>
</p>

<p>
  <strong>Number:</strong>
  <%= number_to_phone(@account.account_number, area_code: true) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @account.account_email %>
</p>

<p>
  <strong>Details:</strong>
  <%= @account.account_details %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
